    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About TrainDB Project</h2>
              <br/>
                <p>TrainDB is a ML-based approximate query processing engine that aims to answer time-consuming analytical queries in a few seconds.</p>
                <p>TrainDB will provide SQL-like query interface and support various DBMS data sources.</p>
		<p>TrainDB is an open source project, mainly contributed by <a href="https://etri.re.kr">ETRI</a>, <a href="http://www.realtimetech.co.kr">RealTimeTech</a>, <a href="https://www.bimatrix.co.kr">BI Matrix</a>, <a href="https://sites.google.com/view/npark/home">BigDyL</a> in Yonsei University, and <a href="https://sites.google.com/view/bigcomlab/home">BigComLab</a> in Kwangwoon University.</p>
                <br/>
              </div>
        </div>
    </section>
