<section id="paper">
<!-- Page Content -->
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <br><br>
      <h3 class="section-heading">2023</h3>
      <ol>
<li>STaSy: Score-based Tabular Data Synthesis<br>
Jayoung Kim, Chaejeong Lee, and Noseong Park<br>
International Conference on Learning Representations (ICLR), 2023</li>
      </ol>
      <h3 class="section-heading">2022</h3>
      <ol>
<li>SOS: Score-based Oversampling Minor Classes for Tabular Data<br>
Jayoung Kim, ChaeJeong Lee, Yehjin Shin, Sewon Park, Minjung Kim, Noseong Park, and Jihoon Cho<br>
ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), 2022</li>
<br>
<li>An Empirical Study on the Membership Inference Attack against Tabular Data Synthesis Models<br>
Jihyeon Hyeong, Jayoung Kim, Noseong Park, and Sushil Jajodia<br>
ACM International Conference on Information and Knowledge Management (CIKM), 2022</li>
<br>
<li>Exploiting Machine Learning Models for Approximate Query Processing<br>
Taewhi Lee, Kihyuk Nam, Choon Seo Park, and Sung-Soo Kim<br>
IEEE International Conference on Big Data (BigData), 2022</li>
<br>
<li>An Efficient Data Analysis For Edge-Enabled Distributed Environments using Tractable Probabilistic Models<br>
Kihyuk Nam, Taewhi Lee, Sung-Soo Kim, Choon Seo Park, Taek Yong Nam and Insik Shin<br>
IEEE International Conference on Big Data (BigData), 2022</li>
<br>
<li>Query Transformation for Approximate Query Processing Using Synthetic Data from Deep Generative Models<br>
Taewhi Lee, Choon Seo Park, Kihyuk Nam, and Sung-Soo Kim<br>
IEEE International Conference on Consumer Electronics-Asia (ICCE-Asia), 2022</li>
<br>
<li>Designing ML-based Approximate Query Processing Services on Time-Varying Large Dataset for Distributed Systems<br>
Kihyuk Nam, Sung-Soo Kim, Choon Seo Park, Taek Yong Nam, and Taewhi Lee<br>
International Conference on Information and Communication Technology Convergence (ICTC), 2022</li>
<br>
<li>샘플링 데이터를 이용한 혼합 밀도 네트워크 모델기반 근사 질의 처리<br>
김성수, 박춘서, 남택용, 이태휘<br>
정보과학회 컴퓨팅의 실제 논문지, 2022</li>
      </ol>
      <h3 class="section-heading">2021</h3>
      <ol>
<li>Trajectory Privacy Protection of Selective Partial Area Using the GAN Model<br>
Yeji Song, Jihwan Shin, Jinhyun Ahn, Taewhi Lee, and Dong-Hyuk Im<br>
KIPS International Conference on Ubiquitous Information Technologies and Applications (CUTE), 2021</li>
<br>
<li>머신 러닝 모델 기반 근사 질의 처리 방법에 관한 연구<br>
박춘서, 김성수, 남택용, 이태휘<br>
정보처리학회 추계학술발표대회(ACK), 2021</li>
<br>
<li>시놉시스 데이터를 이용한 ML 기반 근사 질의 처리 모델<br>
김성수, 박춘서, 남택용, 이태휘<br>
한국소프트웨어 종합학술대회(KSC), 2021</li>
<br>
<li>딥러닝 기반 테이블 합성 기술 소개 (튜토리얼)<br>
박노성<br>
한국통계학회 추계학술대회, 2021</li>
      </ol>
    </div>
  </div>
  <!-- /.container -->
</div>
</section>
