<section id="paper">
<!-- Page Content -->
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <br><br>
      <h3 class="section-heading">2024</h3>
      <ol>
<li>Polynomial-based Self-Attention for Table Representation Learning<br>
Jayoung Kim, Yehjin Shin, Jeongwhan Choi, Hyowon Wi, and Noseong Park<br>
International Conference on Machine Learning (ICML), 2024</li>
<br>
<li>Constrained Approximate Query Processing with Error and Response Time-Bound Guarantees for Efficient Big Data Analytics<br>
Sungsoo Kim, Choon Seo Park, Taewhi Lee, and Kihyuk Nam<br>
International Symposium on High-Performance Parallel and Distributed Computing (ACM HPDC), 2024</li>
<br>
<li>Advanced Trajectory Privacy Protection with Attention Mechanism and Auxiliary Classfier Generative Adversarial Networks<br>
Jihwan Shin, Yeji Song, Yoo-Young Cheong, Jinhyun Ahn, Taewhi Lee, and Dong-Hyuk Im<br>
International Conference on Information Networking (ICOIN), 2024</li>
<br>
<li>데이터 분석의 진화: 보다 빠르고 스마트한 의사결정을 위한 액티브 메타데이터 기반 빠른 그래프 학습 접근법<br>
김성수, 이태휘, 최병준, 이용진, 남기혁<br>
한국인터넷정보학회 춘계학술발표대회, 2024</li>
      </ol>
      <h3 class="section-heading">2023</h3>
      <ol>
<li>CoDi: Co-evolving Contrastive Diffusion Models for Mixed-type Tabular Synthesis<br>
Chaejeong Lee, Jayoung Kim, and Noseong Park<br>
International Conference on Machine Learning (ICML), 2023</li>
<br>
<li>STaSy: Score-based Tabular Data Synthesis<br>
Jayoung Kim, Chaejeong Lee, and Noseong Park<br>
International Conference on Learning Representations (ICLR), 2023</li>
<br>
<li>Learning for Spatio-temporal and Relational Data<br>
Kihyuk Nam, Taewhi Lee, Sung-Soo Kim, and Insik Shin<br>
IEEE International Conference on Big Data (BigData), 2023</li>
<br>
<li>Privacy-preserving Approximate Query Processing with Differentially Private Generative Models<br>
Jiwon Ock, Taewhi Lee, and Seongmin Kim<br>
IEEE International Conference on Big Data (BigData), 2023</li>
<br>
<li>A Framework for Learned Approximate Query Processing for Tabular Data with Trajectory<br>
Kihyuk Nam, Sung-Soo Kim, Choon Seo Park, Taek Yong Nam, and Taewhi Lee<br>
International Conference on Information and Communication Technology Convergence (ICTC), 2023</li>
<br>
<li>Generating Labeled Multiple Attribute Trajectory Data With Selective Partial Anonymization Based on Exceptional Conditional Generative Adversarial Network<br>
Yeji Song, Jihwan Shin, Jinhyun Ahn, Taewhi Lee, and Dong-Hyuk Im<br>
IEEE Access, 2023</li>
<br>
<li>Except-Condition Generative Adversarial Network for Generating Trajectory Data<br>
Yeji Song, Jihwan Shin, Jinhyun Ahn, Taewhi Lee, and Dong-Hyuk Im<br>
International Conference on Database and Expert Systems Applications (DEXA), 2023</li>
<br>
<li>TCAC-GAN: Synthetic Trajectory Generation Model using Auxiliary Classifier Generative Adversarial Networks for Improved Protection of Trajectory Data<br>
Jihwan Shin, Yeji Song, Jinhyun Ahn, Taewhi Lee, and Dong-Hyuk Im<br>
International Conference on Big Data and Smart Computing (IEEE BigComp), 2023</li>
<br>
<li>인공지능 기술을 활용한 데이터 관리 기술 동향<br>
김창수, 박춘서, 이태휘, 김지용<br>
전자통신동향분석, 2023</li>
<br>
<li>차분 프라이버시를 만족하는 접두사 트리의 경로 데이터 통계 질의 연구<br>
신지환, 송예지, 안진현, 이태휘, 임동혁<br>
정보처리학회 추계학술발표대회(ACK), 2023</li>
<br>
<li>TAP-GAN: 어텐션 메커니즘이 적용된 ACGAN 기반의 경로 프라이버시 강화<br>
신지환, 송예지, 안진현, 이태휘, 임동혁<br>
정보처리학회 춘계학술발표대회(ASK), 2023</li>
<br>
<li>데이터 불균형을 고려한 시공간 합성 데이터 생성<br>
송채헌, 박춘서, 이태휘<br>
한국지능시스템학회 춘계학술대회, 2023</li>
      </ol>
      <h3 class="section-heading">2022</h3>
      <ol>
<li>SOS: Score-based Oversampling Minor Classes for Tabular Data<br>
Jayoung Kim, ChaeJeong Lee, Yehjin Shin, Sewon Park, Minjung Kim, Noseong Park, and Jihoon Cho<br>
ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), 2022</li>
<br>
<li>An Empirical Study on the Membership Inference Attack against Tabular Data Synthesis Models<br>
Jihyeon Hyeong, Jayoung Kim, Noseong Park, and Sushil Jajodia<br>
ACM International Conference on Information and Knowledge Management (CIKM), 2022</li>
<br>
<li>Exploiting Machine Learning Models for Approximate Query Processing<br>
Taewhi Lee, Kihyuk Nam, Choon Seo Park, and Sung-Soo Kim<br>
IEEE International Conference on Big Data (BigData), 2022</li>
<br>
<li>An Efficient Data Analysis For Edge-Enabled Distributed Environments using Tractable Probabilistic Models<br>
Kihyuk Nam, Taewhi Lee, Sung-Soo Kim, Choon Seo Park, Taek Yong Nam, and Insik Shin<br>
IEEE International Conference on Big Data (BigData), 2022</li>
<br>
<li>Query Transformation for Approximate Query Processing Using Synthetic Data from Deep Generative Models<br>
Taewhi Lee, Choon Seo Park, Kihyuk Nam, and Sung-Soo Kim<br>
IEEE International Conference on Consumer Electronics-Asia (ICCE-Asia), 2022</li>
<br>
<li>Designing ML-based Approximate Query Processing Services on Time-Varying Large Dataset for Distributed Systems<br>
Kihyuk Nam, Sung-Soo Kim, Choon Seo Park, Taek Yong Nam, and Taewhi Lee<br>
International Conference on Information and Communication Technology Convergence (ICTC), 2022</li>
<br>
<li>샘플링 데이터를 이용한 혼합 밀도 네트워크 모델기반 근사 질의 처리<br>
김성수, 박춘서, 남택용, 이태휘<br>
정보과학회 컴퓨팅의 실제 논문지, 2022</li>
      </ol>
      <h3 class="section-heading">2021</h3>
      <ol>
<li>Trajectory Privacy Protection of Selective Partial Area Using the GAN Model<br>
Yeji Song, Jihwan Shin, Jinhyun Ahn, Taewhi Lee, and Dong-Hyuk Im<br>
KIPS International Conference on Ubiquitous Information Technologies and Applications (CUTE), 2021</li>
<br>
<li>머신 러닝 모델 기반 근사 질의 처리 방법에 관한 연구<br>
박춘서, 김성수, 남택용, 이태휘<br>
정보처리학회 추계학술발표대회(ACK), 2021</li>
<br>
<li>시놉시스 데이터를 이용한 ML 기반 근사 질의 처리 모델<br>
김성수, 박춘서, 남택용, 이태휘<br>
한국소프트웨어 종합학술대회(KSC), 2021</li>
<br>
<li>딥러닝 기반 테이블 합성 기술 소개 (튜토리얼)<br>
박노성<br>
한국통계학회 추계학술대회, 2021</li>
      </ol>
    </div>
  </div>
  <!-- /.container -->
</div>
</section>
